.client-logo-section{
    .client-logo-box{
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include Transition(all 0.3s ease-in-out);
        @include media(down, $breakpoint-xl) {
            height: 150px;
        }
        @include media(down, $breakpoint-md) {
            height: 120px;
            padding: size(15);
        }
        &:hover{
            opacity: 0.8;
        }
    }
}